footer(class="footer text-center")
    div(class="container")
        div(class="row")
            div(class="col-lg-12 mb-5 mb-lg-0")
                h4(class="text-uppercase mb-4") University project
                p(class="lead mb-0") TUDDW, Ceutec Honduras
                    br 
                p Herramientas de diseño web

section(class="copyright py-4 text-center text-white")
    div(class="container")
        small Copyright &copy; ♠ _31 - 2019
