doctype html

html(lang='en')
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        link(rel="stylesheet", href="static/vendor/fontawesome-free/css/all.min.css", type="text/css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700", type="text/css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", type="text/css")
        link(rel="stylesheet", href="static/css/freelancer.css", type="text/css")