script(src="static/vendor/jquery/jquery.min.js")
script(src="static/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="static/vendor/jquery-easing/jquery.easing.min.js")
script(src="static/js/jqBootstrapValidation.js")
script(src="static/js/contact_me.js")
script(src="static/js/freelancer.js")
script(src="static/js/application/common/session.js")
